ipython
jupyter
jupyterlab
aiohttp
aiortc
casadi==3.6.3
cffi
crcmod
Cython
future-fstrings  # for acados
json-rpc
libusb1
numpy
onnx>=1.14.0
psutil
pyaudio
pycapnp
pycryptodome
PyJWT
pyserial
pyzmq
requests
scons
sentry-sdk
smbus2
sounddevice
sympy
websocket_client
markdown-it-py
timezonefinder
setproctitle
av
azure-identity
azure-storage-blob
breathe
control
coverage
dictdiffer
ft4222
flaky
hypothesis==6.47
inputs
Jinja2
lru-dict
matplotlib
metadrive-simulator
mpld3
mypy
myst-parser
natsort
opencv-python-headless
parameterized==0.8
pprofile
polyline
pre-commit
pyautogui
pyopencl==2023.1.4
pygame
pywinctl
pyprof2calltree
pytest
pytest-cov
pytest-cpp
pytest-subtests
pytest-xdist
pytest-timeout
pytest-randomly
ruff
sphinx
sphinx-rtd-theme
sphinx-sitemap
tabulate
tenacity
types-requests
types-tabulate
tqdm