ipython
jupyter
jupyterlab
aiohttp
aiortc
casadi==3.6.3
cffi
crcmod
Cython
future-fstrings  # for acados
json-rpc
libusb1
numpy
onnx>=1.14.0
psutil
pyaudio
pycapnp
pycryptodome
PyJWT
pyserial
pyzmq
requests
scons
sentry-sdk
smbus2
sounddevice
sympy
websocket_client
markdown-it-py
timezonefinder
setproctitle
av
azure-identity
azure-storage-blob
breathe
control
coverage
dictdiffer
ft4222
flaky
hypothesis>=6.47, <6.48
inputs
Jinja2
lru-dict
matplotlib
mpld3
mypy
myst-parser
natsort
opencv-python-headless
parameterized>=0.8, <1.0
pprofile
polyline
pre-commit
pyautogui
pyopencl==2023.1.4
pygame
pywinctl
pyprof2calltree
pytest
pytest-cov
pytest-cpp==2.5.0
pytest-subtests
pytest-xdist
pytest-timeout
pytest-randomly
ruff
sphinx
sphinx-rtd-theme
sphinx-sitemap
tabulate
tenacity
types-requests
types-tabulate
tqdm
metadrive-simulator==0.4.2.3; platform_machine != 'aarch64'
onnxruntime>=1.16.3; sys_platform == 'linux' and platform_machine == 'aarch64'
onnxruntime-gpu>=1.16.3; sys_platform == 'linux' and platform_machine == 'x86_64'
spidev; sys_platform == 'linux'
