ipython
jupyter
jupyterlab
aiohttp
aiortc
casadi==3.6.3
cffi
crcmod
Cython
future-fstrings  # for acados
json-rpc
libusb1
numpy
onnx>=1.14.0
psutil
pyaudio
pycapnp
pycryptodome
PyJWT
pyserial
pyzmq
requests
scons
sentry-sdk
smbus2
sounddevice
sympy
websocket_client
markdown-it-py
timezonefinder
setproctitle
